body {
    height: 100vh;
}

.content {
    height: 100%;
    background-color: #fff;
    min-width: 600px;
    width: 95vw;
}

.logo{
    padding: 40px 0 0 50px;
    z-index: 10;
}

.card-container {
    margin: auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.form {
    margin: auto;
    width: 550px;
    height: 550px;
}

.submit {
    width: 25%;
    margin: 25px auto 10px;
}

.btn {
    background-color: #19355D;
    border: none;
}

.btn:hover {
    background-color: #4FCDFF;
    color: #19355D;
}

.dot {
    position: fixed;
    border-radius: 50%;
}

.dot1 {
    height: 400px;
    width: 400px;
    bottom: 8%;
    right: 22%;
    background-color: #4FCDFF;
}

.dot2 {
    height: 400px;
    width: 400px;
    bottom: 10%;
    right: 20%;
    border: solid #ddd 4px;
}

.dot3 {
    background-color: #3b5a89;
    height: 200px;
    width: 200px;
    bottom: 60%;
    left: 25%
}

.dot4 {
    border: solid #9c9898 4px;
    height: 220px;
    width: 220px;
    bottom: 60%;
    left: 25%
}